.container {
  width: 800px;
  margin: 0 auto;
}
.date {
  font-weight: 600;
}
.message {
  font-size: 18px;
  font-weight: bold;
}
.message-done {
  text-decoration: line-through;
  color: green;
}
label {
  font-weight: bold;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.todo {
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 12px;
}
button {
  margin-left: 8px;
  margin-right: 8px;
}
